<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/amogus"></ion-back-button>
    </ion-buttons>
    <ion-title>Amogus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="modify-amogus" (click)="modif = !modif">
    <ion-icon name="build-outline"></ion-icon>
  </ion-button>

  <div *ngIf="!modif">
    Bob, amogus depuis 12 ans, ancien salarié dans le BTP
  </div>

  <div *ngIf="modif">
    Ecrire un nouvel avenir pour cet Amogus :
  </div>
</ion-content>
