<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/amogus"></ion-back-button>
    </ion-buttons>
    <ion-title>Amogus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="!modif">
      <ion-grid *ngIf="amogus">
        <ion-row id="amogus-infos-container">
          <ion-col size="50%">
            <ion-img *ngIf="amogus.sex == 'M'" class="amogus-img" src="../../assets/img/blank-mogus-m.png" style="background-color: {{ amogus.color }};"></ion-img>
            <ion-img *ngIf="amogus.sex == 'F'" class="amogus-img" src="../../assets/img/blank-mogus-f.png" style="background-color: {{ amogus.color }};"></ion-img>
            <ion-img *ngIf="amogus.sex == 'E'" class="amogus-img" src="../../assets/img/blank-mogus-e.png" style="background-color: {{ amogus.color }};"></ion-img>
          </ion-col>
          <ion-col id="amogus-infos">
            <ion-row>
              <ion-label>Sex :</ion-label>
              <ion-icon id="amogus-sex" *ngIf="amogus.sex == 'M'" name="male"></ion-icon>
              <ion-icon id="amogus-sex" *ngIf="amogus.sex == 'F'" name="female"></ion-icon>
              <ion-icon id="amogus-sex" *ngIf="amogus.sex == 'E'" name="happy-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <ion-label>Name : </ion-label>
              {{ amogus.name }}
            </ion-row>
            <ion-row>
              <ion-label>Color : </ion-label>
              <span style="color: {{ amogus.color }};">{{ amogus.color }}</span>
            </ion-row>
            <ion-row>
              <ion-button id="modify-amogus" (click)="modif = !modif">
                <ion-icon name="build"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row id="amogus-infos-description-container">
          <ion-col>
            <ion-row><ion-label>Description : </ion-label></ion-row>
            <ion-row id="amogus-infos-description">{{ amogus.description }}</ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <div *ngIf="modif">
    <div id="add-content">

      <ion-list>
        <ion-radio-group [(ngModel)]="amogus.sex">
          <ion-row class="radio-row">
            <ion-col>
              <ion-item>
                <ion-label><ion-icon name="male"></ion-icon></ion-label>
                <ion-radio value="M"></ion-radio>
              </ion-item>
            </ion-col>
      
            <ion-col>
              <ion-item>
                <ion-label><ion-icon name="female"></ion-icon></ion-label>
                <ion-radio value="F"></ion-radio>
              </ion-item>
            </ion-col>
      
            <ion-col>
              <ion-item>
                <ion-label><ion-icon name="happy-outline"></ion-icon></ion-label>
                <ion-radio value="E"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-list>
  
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" placeholder="Douglas" [(ngModel)]="amogus.name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Color</ion-label>
        <ion-input type="text" placeholder="#ff0000" [(ngModel)]="amogus.color"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text" placeholder="Douglas is a 28yo baker" [(ngModel)]="amogus.description"></ion-input>
      </ion-item>
    
      <p class="text-center">
        <ion-row id="form-update-buttons">
          <ion-button (click)="setDelete()"><ion-icon name="build"></ion-icon>Update</ion-button>
          <span id="form-update-buttons-blank"></span>
          <ion-button (click)="setDelete()"><ion-icon name="trash"></ion-icon>Delete</ion-button>
        </ion-row>
      </p>
    </div>
  </div>
</ion-content>
