<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Who am I ?</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/me.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          My name is Justin and I made this Amogus-Ionic-Project !
          <br>
          I swear I'm not sus, so you can check this universitary project with no worries !
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>My career</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aut voluptates iure. Nihil tenetur perspiciatis doloremque deserunt suscipit recusandae, ut deleniti veritatis eveniet laudantium saepe. Sapiente enim perferendis molestias delectus?
        </p>
        <p>
          Pariatur, quod. Sapiente porro corporis ratione temporibus dignissimos nobis sit impedit officia optio. Autem et minus consectetur rerum deleniti doloribus quod placeat laborum, adipisci quasi doloremque incidunt eius ex. Velit?
        </p>
        <p>
          Dolor quibusdam perspiciatis totam numquam autem magni reprehenderit sequi quidem praesentium. Incidunt, saepe repellendus. Cum facere unde ad! Doloribus vitae tempora distinctio iure nisi! Asperiores impedit voluptatem suscipit totam animi!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
