<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Amogus List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="amogus-container">
    <ion-col *ngFor="let amogus of amogusList">
      <ion-list class="amogus-box" [routerLink]="['/amogus/', amogus.id]">
        <p class="amogus-name">{{ amogus.name }}</p>
        <ion-img *ngIf="amogus.sex == 'M'" class="amogus-img" src="../../assets/img/blank-mogus-m.png" style="background-color: {{ amogus.color }};"></ion-img>
        <ion-img *ngIf="amogus.sex == 'F'" class="amogus-img" src="../../assets/img/blank-mogus-f.png" style="background-color: {{ amogus.color }};"></ion-img>
        <ion-img *ngIf="amogus.sex == 'E'" class="amogus-img" src="../../assets/img/blank-mogus-e.png" style="background-color: {{ amogus.color }};"></ion-img>
      </ion-list>
    </ion-col>
  </div>
</ion-content>
