<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Amogus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="add-content">
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" placeholder="Douglas" [(ngModel)]="amogus.name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Couleur</ion-label>
      <ion-input type="text" placeholder="#ff0000" [(ngModel)]="amogus.color"></ion-input>
    </ion-item>
  
    <p class="text-center">
      <ion-button routerLink="/amogus" (click)="add()">Créer</ion-button>
    </p>
  </div>
</ion-content>
